# Flatten Function

1- Bir listeyi düzleştiren (flatten) fonksiyon yazın. 

Elemanları birden çok katmanlı listelerden ([[3],2] gibi) oluşabileceği gibi, non-scalar verilerden de oluşabilir. Örnek olarak:

input: [[1,'a',['cat'],2],[[[3]],'dog'],4,5]

output: [1,'a','cat',2,3,'dog',4,5]



---



---

In [23]:
## flatten irregular list of lists 
## with generator & yield...

def flatten(flat_list):
  
  for subclass in flat_list:
    if isinstance(subclass,list):
      yield from flatten(subclass)        ## recursion !!! the important part
    else:
      yield subclass                      ## yield to memory like return

In [24]:
flat_list = [[1,'a',['cat'],2],[[[3]],'dog'],4,5]
flat_list

[[1, 'a', ['cat'], 2], [[[3]], 'dog'], 4, 5]

In [4]:
flatten(flat_list)

In [25]:
type(flatten(flat_list))

generator

In [26]:
newflattenlist = list(flatten(flat_list))   ## object from generator
print(newflattenlist)

[1, 'a', 'cat', 2, 3, 'dog', 4, 5]



---



---

In [27]:
## flatten just 2D array list.
nlist = [[2,5],[2,8,'k']]
flatten_list = []

for i in nlist:
  for j in i:
    flatten_list.append(j)

print(flatten_list)

[2, 5, 2, 8, 'k']

In [22]:
## flatten numpy array with flatten() func.
import numpy as np
n = np.array([[5,8],[3,9]])
n.flatten()

array([5, 8, 3, 9])



---



---

## isinstance reminder

In [ ]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

In [13]:
## examples of list and tuple
x = [2]
y = [5,8]
k = (21,56)
z = [2,[5.8],9,4,[21,23]]

In [10]:
## to check that is in list or not
print(isinstance(x,list))   
print(isinstance(y,list))
print(isinstance(k,list))

True
True
False

In [ ]:
help(list)

In [14]:
for num in z:
  if isinstance(num,list):
    print("Yes: ",num)
  else:
    print("No: ",num)

No:  2
Yes:  [5.8]
No:  9
No:  4
Yes:  [21, 23]

In [15]:
## to check is it tuple or not with isinstance() func.
tuple_list = (2,8)
isinstance(tuple_list,tuple)

True

## generator & yield reminder

In [16]:
list_one = [1,2,8,9]
def generator_func(l):
  for num in list_one:
    if num%2 == 0:
      yield num
    else:
      yield False

## check to list_one, if is divided with two -> add it to memory (yield num)

In [17]:
g = generator_func(list_one)    ## run to generator

In [18]:
next(g)

False

In [19]:
next(g)

2

In [20]:
print(list(generator_func(list_one)))

[False, 2, 8, False]