<a href="https://colab.research.google.com/github/mfatihaltun/Fundamental-Algorithms-forProgramming/blob/main/KurtProblemi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Kurt Problemi

Her öğenin bir kurt türü ID’sini temsil ettiği bir dizi kurt gözlemi içerisinde, en sık tespit edilen türün en düşük ID’sini belirlemeye çalışalım. 

> Maksimum sayıya erişen 1'den fazla tür tespit edildiyse, ID’si en küçük olanı döndürmeniz beklenmektedir.


**Örnek**

dizi = [1,1,2,2,3]


>Örnek dizide her birinden 2 defa tespit edilen 2 tür (1 ve 2) ve 1 defa tespit edilen 1 tür (3) bulunuyor. Bunlar arasında en fazla görülen en düşük ID 1’dir.



## Fonksiyon Tanımı
Bu problem aşağıdaki parametrelere sahiptir:

**int dizi[n]:** tespit edilen kurt türleri


### Döndürülmesi Beklenen
**int:** En çok tespit edilen en düşük ID değeri.

## Veri Giriş Formatı

**İlk satır,** dizi boyutunda bir tamsayı (n) içerir.

**İkinci satır,** diziyi, her biri tespit edilen kurtların bir tür numarası olan boşlukla ayrılmış n tamsayı olarak tanımlar.

### Kısıtlamalar
> 5 ≤ n ≤ 2 x 105 

> Her türün 1,2,3,4 veya 5 olduğu garanti edilir.


### Örnek Senaryo

11

1 2 3 4 5 4 3 2 1 3 4

### Beklenen Çıktı

3



---



---

In [ ]:
def mostCommon(dizi):
  
  int = max(sorted(set(dizi)), key = dizi.count)
  return int

if __name__ == '__main__':

    n = int(input())
    if n > 4 and n < ((2*(10**5))+1):         ## Kısıtlamalar : 5 ≤ n ≤ 2x10**5

      dizi = list(map(int, input().split()))
      species_list = [1, 2, 3, 4, 5]
                              ## Her türün 1,2,3,4 veya 5 olduğu garanti edilir.
      for num in range(len(dizi)):      
        if dizi[num] in species_list:
          continue
        else:
          print(dizi[num], "tanımlı tür kümesi içinde değil.")
          break

      result = mostCommon(dizi)
      print(result)

    else:
      print("n =",n,"için n tanımlı aralıkta değildir.")

11
1 2 3 4 5 4 3 2 1 3 4
3



---



---